@import url(./assets/stylesheets/fonts.css);

/*-----------------------------------------------------------------------------------*/

/* General Styles */

:root {
    --font-stack:
        system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    color-scheme: light;

    --text-primary: #050315;
    --text-secondary: #ebe9fc;
    --background-color: #fbfbfe;
    --primary-color: #0043e0;
    --secondary-color: #d0d4ff;
    --accent-color: #020079;

    --header-tile: url(./assets/media/pictures/background-light.svg);

    --box-shadow-header: 0.5px 0.5px 14px 0 #7a7a7a;
    --box-shadow-projects: 0px 1px 5px 0px #9b9b9b;

    --toggle-border: #d0d4ff;
    --toggle-focus-outline: #050315;
}

:root.dark-mode {
    color-scheme: dark;

    --text-primary: #ebe9fc;
    --text-secondary: #050315;
    --background-color: #050509;
    --primary-color: #0024db;
    --secondary-color: #00042e;
    --accent-color: #1e00b5;

    --header-tile: url(./assets/media/pictures/background-dark.svg);

    --box-shadow-header: 1px 1px 6px 2px #010102;
    --box-shadow-projects: 0px 1px 5px 0px #000000;

    --toggle-border: #ebe9fc;
    --toggle-focus-outline: #d0d4ff;
}

body {
    font-family: Geist, var(--font-stack);

    min-height: 100svh;
    background-color: var(--background-color);
    color: var(--text-primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    position: relative;
}

@media (min-width: 48rem) {
    body {
        gap: 0;
    }
}

.toggle-theme {
    position: absolute;
    top: 0.25%;
    right: 1.25%;
    z-index: 1;
    background-color: var(--accent-color);
    padding: 0.5rem;
    border: 2px solid var(--toggle-border);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (min-width: 64rem) {
    .toggle-theme {
        right: 0.5%;
        top: 0.5%;
    }
}

.toggle-theme:focus {
    outline: 3px solid var(--toggle-focus-outline);
}

.toggle-theme:hover {
    background-color: var(--primary-color);
}

.toggle-theme > img {
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.toggle-theme:active > img {
    opacity: 0.65;
}

/* General Styles */

/*-----------------------------------------------------------------------------------*/

/* Header Styles */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-img-cont {
    position: relative;
}

.header-img-background {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;

    background: var(--header-tile);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-img-wrapper {
    padding: 1.25rem;
}

.header-img {
    aspect-ratio: 1 / 1;
}

@media (min-width: 48rem) {
    header {
        padding: 0.5rem;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--header-tile);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .header-img-background {
        display: none;
    }

    .header-img-wrapper {
        padding: 0;
    }
}

.header-description {
    padding: 1rem;
}

.about-heading,
.main-heading {
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    position: relative;
    margin-bottom: 0.75rem;
}

.about-heading::before,
.main-heading::before {
    content: '';
    position: absolute;
    bottom: 3.5%;
    width: 100%;
    height: 12.5%;
    background-color: var(--primary-color);
    opacity: 0.85;
    transform: skewX(-45deg);
}

.header-description section {
    max-width: 65ch;
}

.header-description p:not(:last-child) {
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.header-link,
.footer-link {
    display: block;
    max-width: max-content;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-link > img,
.footer-link > img {
    user-select: none;
    width: 32px;
    height: 32px;
}

.header-link:hover,
.footer-link:hover {
    transform: translateY(-0.15rem);
}

@media (min-width: 48rem) {
    .header-description {
        padding: 0.5rem;
        background-color: var(--background-color);
        box-shadow: var(--box-shadow-header);
    }

    .about-heading {
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: var(--fs-md);
    }

    .header-description p {
        font-size: var(--fs-sm);
    }

    .header-link {
        margin-top: 0;
        margin-right: 0;
    }

    .header-link > img {
        width: 24px;
        height: 24px;
        margin-right: 0;
        margin-left: auto;
    }
}

@media (min-width: 64rem) {
    .header-link > img {
        width: 28px;
        height: 28px;
    }

    .header-description p {
        font-size: var(--fs-sm);
    }
}

/* Header Styles */

/*-----------------------------------------------------------------------------------*/

/* Main Styles */

main {
    flex-grow: 1;
    width: 100%;
}

.projects-grid {
    padding: 1.25rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, calc(320px - 2.5rem));
    gap: 1.25rem;
}

.project-cont {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-projects);
}

.project-cont > img {
    object-fit: contain;
    height: auto;
}

.project-description {
    flex-grow: 1;
    padding: 0.5rem;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.project-name {
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
}

.project-name > span {
    font-size: var(--fs-base);
}

.project-labels {
    margin-left: auto;
    position: relative;
    display: flex;
    gap: 0.5rem;
}

.project-labels > div {
    cursor: pointer;
    position: relative;
    user-select: none;
}

.project-labels::before,
.project-labels::after {
    --text-light: #ebe9fc;

    content: "Project isn't responsive";
    font-size: 0.65rem;
    padding: 0.25rem;
    background-color: var(--primary-color);
    color: var(--text-light);
    position: absolute;
    border-radius: 0.35rem;
    top: 50%;
    left: -120%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project-labels::after {
    content: "Project isn't accessible";
}

.project-labels:has(.not-responsive:hover)::before,
.project-labels:has(.not-responsive:focus)::before {
    opacity: 1;
}

.project-labels:has(.not-accessible:hover)::after,
.project-labels:has(.not-accessible:focus)::after {
    opacity: 1;
}

.description-text {
    max-width: 65ch;
    font-size: var(--fs-sm);
    font-weight: 300;
    margin-bottom: 0.25rem;
}

.project-link {
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 0.15rem;
    margin-top: auto;
    margin-left: auto;
}

.project-link > img {
    user-select: none;
    transition: transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project-link:hover > img {
    transform: scale(1.075);
}

/* Main Styles */

/*-----------------------------------------------------------------------------------*/

/* Footer Styles */

footer {
    padding: 1rem;
    --text-light: #ebe9fc;
    color: var(--text-light);
    width: 100%;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-info > h1 {
    font-size: var(--fs-lg);
}

.contact-info > *:not(:last-child) {
    margin-bottom: 0.75rem;
}

.contact-info > p {
    max-width: 65ch;
}

.contact-email {
    display: flex;
    gap: 0.5rem;
}

/* Footer Styles */

/*-----------------------------------------------------------------------------------*/
